h1 {
  color: red;
}

.composition-example, .blog {
  padding: 24px !important;
}

.author-column .ui.card{
  position: fixed !important;
  top: 24px !important;
}

.full-with-img{
  width: 100%;
}

.page {
  padding-top: 24px;
}
